/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	/*padding: 0;*/
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**_____________________start below__________________________*/

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

/*#header {
	/*background:#ededed;
	padding:10px;
/*}*/
#content {
	padding-bottom:100px; /* Height of the footer element */
}

body{
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #c2d6d6 !important;
    background:#004080 !important;
    background: -webkit-linear-gradient(#c2d6d6, #004080) !important;
    background:    -moz-linear-gradient(#c2d6d6, #004080)!important;
    background:         linear-gradient(#c2d6d6, #004080)!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    margin-bottom:50px;

  position: relative!important;
  margin: 0!important;
  min-height: 100%!important;
  font-family: "Helvetica Neue", Arial, sans-serif!important;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(196, 194, 194, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(51, 51, 51, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(181, 181, 181, 1);
    background-color: rgba(51, 51, 51, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(158, 158, 158, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(209, 209, 209, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}

.cover {
    height:50px!important;
    width:50%!important;
	text-decoration:none; !important
	margin:30px;!important
}

/*.stack*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px; /* Set footer height. */
}

footer, .push {
    height: 20px; /* Set footer height. */
    clear: both; /* Muti-column fix.*/
    background:#333333;
    color:black;
    text-align: center;
    bottom:0;
    margin-bottom: 0VW;

}

#bigstuff{
    text-align: center;
    background:white;
}

h1{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    color:white;
    padding-left: 15px;
    padding-top: 5px;
}
#paragraph{
    padding:20px !important;
    color:black !important;
    margin:30px !important;
    text-align: center;
    
}


span {
	position: relative;
}
.button {
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 20px;
    margin-left:20px;
    margin-right:20px;
}
input[type=text]:focus {
    border: 3px solid #555;
}
.fa {
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
