/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**_____________________start below__________________________*/

.box{
    text-align: center;
}

header{
    top: 0px;
    padding-bottom: 15px;
    background-color:#333333;
    height:50px;
    position: fixed;
    width:100%;
    margin:0 auto;
}

footer{
    height:28px;
    bottom:0px;
    width:100%;
    background-color:#333333;
    margin:0 auto;
    margin-top:10px;
    color:white;
    text-align: center;
    position:fixed;
    display:block;
}

h1{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    color:white;
    padding-left: 15px;
    padding-top: 5px;
}

h2{
   /* padding-top: 50px;
    padding-bottom: 10px;
	*/
    font-size: 30px;
    color: white;
    
}

body:after {
  content: url(assets/images_wah/close.png) url(assets/images_wah/loading.gif) url(assets/images_wah/prev.png) url(assets/images_wah/next.png);
  display: none;
}


body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #c2d6d6;
    background:#004080;
    background: -webkit-linear-gradient(#c2d6d6, #004080);
    background:    -moz-linear-gradient(#c2d6d6, #004080);
    background:         linear-gradient(#c2d6d6, #004080);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom:20px;
}
a img {
    display:inline-block;
/*
    width:450px;
    height:450;
*/
    margin-top: 85px;
	margin-bottom:30px;
    margin-left:50px;
}



.box img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
	text-align: center;
	padding:none;
}

p{
    font-size: 18px;
    word-spacing: 5px;
    font-weight: bold;
    line-height: 1.5;
    font-family:fantasy;
    color:black;
    padding-left: 10px;
}


nav a{
    color:white;
    text-decoration: none;
    font-style:normal;
    padding:15px;
    
}


nav{
    text-align: center;
    margin:0 auto;
    font-size: 16px;
}

