/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**_____________________start below__________________________*/

.box{
    text-align: center;
}

header{
    top: 0px!important;
    padding-bottom: 15px!important;
    background-color:#333333!important;
    height:50px!important;
    position: fixed!important;
    width:100%!important;
}

.footer{
    width:100%!important;
    padding-top:5px!important;
    background-color:#333333!important;
    color:white!important;
    text-align: center!important;
    position:absolute!important;
    display:block!important;
    margin-top:30px;!important
}

h1{
    text-align: left!important;
    font-weight: bold!important;
    font-size: 28px!important;
    padding-left: 15px!important;
    /*width:20%;*/
    display:inline-block!important;
    vertical-align: top!important;
    color:blue!important;
    

}

h2{
    padding-bottom: 20px!important;
    font-size: 30px!important;
    color: blue!important;
    padding: none!important;
    }
/*nav a{
    color:white;
    text-decoration: none;
    font-style:normal;
    padding:15px;
    
}

nav{
    text-align: center;
    margin:0 auto;
    font-size: 16px;
}
*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(196, 194, 194, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(51, 51, 51, 1);
    border-bottom-width: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(181, 181, 181, 1);
    background-color: rgba(51, 51, 51, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(33, 33, 33, 1);
    background-color: rgba(158, 158, 158, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(209, 209, 209, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d1d1d1;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333333;
}

.cover {
    height:50px!important;
    width:50%!important;
	text-decoration:none; !important
	margin:30px;!important
}

.stack {
	color: #111;!important
	font-family: 'Helvetica Neue', sans-serif; font-size: 275px;!important
	font-weight: bold;!important
	letter-spacing: -1px; line-height: 1; text-align: center;!important
}

span {
	position: relative;
}

/*W */
/*.char1 {
  margin-left: -.2em;
  z-index: 4;
  text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* E */
/*.char2 {
 z-index: 3; 
 margin-left: -.175em;
  top: 0.01em;
    text-shadow: -0.02em 0.02em 0.2em rgba(10,10,10,0.9);

}

/* L */
/*.char3 {
  z-index: 9;
  margin-left: -.125em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* C */
/*.char4 {
  z-index: 5;
  margin-left: -.175em;
  text-shadow: 0.02em -0.02em 0.2em rgba(10,10,10,0.9);
}

/* O */
/*.char5 {
  z-index: 2;
  margin-left: -.125em;
  top: 0.08em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
}

/* M */
/*.char6 {
  z-index: 10;
    margin-left: -.125em;
  top: -0.04em;
  text-shadow: 0em 0em 0.2em rgba(10,10,10,0.9);
  
}

/* E */
/*.char7 {
  z-index: 8;
  margin-left: -.3em;
  top: 0em;
  text-shadow: -0.05em 0.05em 0.2em rgba(10,10,10,0.9);
  
}

/* ! */
/*.char8 {
  z-index: 6;
  margin-left: -.135em;
  top: -0.05em;
  text-shadow: 0.02em -0.01em 0.2em rgba(10,10,10,0.9);
}
*/

body:after {
  content: url(assets/images_wah/close.png) url(assets/images_wah/loading.gif) url(assets/images_wah/prev.png) url(assets/images_wah/next.png);!important
  display: none; !important
}

body{
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #c2d6d6 !important;
    background:#004080 !important;
    background: -webkit-linear-gradient(#c2d6d6, #004080) !important;
    background:    -moz-linear-gradient(#c2d6d6, #004080)!important;
    background:         linear-gradient(#c2d6d6, #004080)!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    margin-bottom:20px;

  position: relative!important;
  margin: 0!important;
  min-height: 100%!important;
  font-family: "Helvetica Neue", Arial, sans-serif!important;
}

a img {
    display:inline-block!important;

   /* width:450px;
    height:450;
*/
  	margin-top: 75px !important;
    	margin:auto!important;
	text-align:center!important;
	padding:20px!important;
}
*/
/*img{
    margin-left: auto;
    margin-right: auto;
  	margin-bottom: 10px!important;
	text-align: center!important;
	padding:15px!important;
}*/
.face{
	width:50%!important;
	float:right;!important
}

.text{
    font-size: 18px!important;
    word-spacing: 5px!important;
    font-weight: bold!important;
    line-height: 1.5!important;
    font-family:fantasy!important;
    color:black!important;
    padding-left: 10px!important;
}

p{
    padding:20px !important;
    color:black !important;
    margin:30px !important;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=submit] {
    background-color: #51CDC8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3C8F8C;
}

.button {
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 20px;
    margin-left:20px;
    margin-right:20px;
}
input[type=text]:focus {
    border: 3px solid #555;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-bottom:15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
/*.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #dddddd; 
    width:78%;
    min-width: 900px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding:15px;
    color:white;
    font-style:normal;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}
*/
